<!DOCTYPE html>
<html>
<body>

<h2>My Customers</h2>

<input type="text" id="myInput" onkeyup="myFunction();del()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Fruits</th>
    <th style="width:40%;"></th>
  </tr>
  <ul>
  <tr>
    <td id="a">Apple<button onclick="rem_ele()" >remove</button></td>
  </tr>
  <tr >
    <td id="b">Banana<button onclick="rem_ele()" >remove</button></td>
  </tr>
  <tr>
    <td id="c">cherry<button onclick="rem_ele()" >remove</button></td>
  </tr>
  <tr>
    <td id="d">kiwi<button onclick="rem_ele()" >remove</button></td>
  </tr>
  <tr>
    <td id="e">orange<button onclick="rem_ele()" >remove</button></td>
  </tr>
  <tr>
    <td id="f">watermelon<button onclick="rem_ele()">remove</button></td>
  </tr>
  <tr>
    <td id="g">lemon<button onclick="rem_ele()">remove</button></td>
  </tr>
  <tr>
    <td id="h">papaya<button onclick="rem_ele()" >remove</button></td>
  </tr>
  </ul>
</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }      
  }
}
function rem_ele(){
    if(ele=document.getElementById("a")||document.getElementById("b")||
    document.getElementById("c")||document.getElementById("d")||
    document.getElementById("e")||document.getElementById("f")||
    document.getElementById("g")||document.getElementById("h")){
    ele.remove();
    }

}
</script>

</body>
</html>