<!DOCTYPE html>
<html>
    <head>
        <h2>Question-02</h2>
<form id="demo">
<label>1st Number:</label>
<input id="n1" placeholder="Enter Any Number"><br><br>
<label>2nd Number:</label>
<input id="n2"  placeholder="Enter Any Number"><br><br>
</form>
<button onclick="mul()">Multiply</button>
<button onclick="divide()">Divide</button>

    </head>
<body>
    <script>
        function mul(){
            a=document.getElementById("n1").value;
            b=document.getElementById("n2").value;
            c=a*b
            console.log("The Result is:"+c)

        }
        function divide(){
            a=document.getElementById("n1").value;
            b=document.getElementById("n2").value;
            c=a/b
            console.log("The Result is:"+c)
        }
    </script>
</body>
</html>